@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400&display=swap');

$bg-color: #fff;
$fg-color: #293241;
$brand-color: #ee6c4d;
$brand-variant-1: lighten($brand-color, 20);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Bitter, Serif;
    line-height: 1.4;
}

.container {
    display: flex;
}

.story-list-wrapper {
    width: 25rem;
    overflow-y: scroll;
    height: 100vh;
    scrollbar-width: none;
}

.story-list {
    border-right: 1px solid $brand-variant-1;
    background-color: $bg-color;
}

.story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: inherit;
    border-bottom: 1px solid $brand-variant-1;
    color: $fg-color;
    font-size: 1.125rem;
    transition: background-color 150ms ease;

    &:focus {
        background-color: $brand-variant-1;
    }

    &:hover {
        cursor: pointer;
    }
}

.story:hover {
    background-color: $brand-variant-1;
}

.story-stats {
    display: flex;
    font-size: 0.875rem;
    color: lighten($fg-color, 10);
    margin-top: 0.5rem;

    p {
        display: flex;
        align-items: center;
        margin-right: 0.675rem;
        margin-top: 0.25rem;
    }
}

.show-story {
    $l-margin-size: 2rem;
    margin-top: 1rem;
    overflow-y: scroll;
    height: 100vh;

    h1 {
        font-size: 1.5rem;
        color: $fg-color;
        margin-left: $l-margin-size;
    }

    .story-stats {
        margin-left: $l-margin-size;
    }

    li {
        list-style: none;
        margin-left: $l-margin-size;
    }
}

.show-story {
    width: 45rem;
}
.comments-wrapper {
    margin-top: 2rem;
}

.story-loader {
    height: 5rem;
    width: inherit;
    border-bottom: 1px solid black;
}

ion-icon {
    font-size: 0.875rem;
    padding-right: 0.125rem;
    --ionicon-stroke-width: 40px;
}

/* Navbar Navigation Stuff */

.navbar {
    width: 100vw;
    height: 3rem;
    background-color: $bg-color;
    border-bottom: 1px solid $brand-color;
}

.navbar-nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0 1rem;
}

.nav-brand {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-right: 1.5rem;
    color: $brand-color;

    ion-icon {
        font-size: 1.5rem;
        margin-right: 0.25rem;
    }
}

.nav-item {
    margin-right: 1rem;

    button {
        font-family: inherit;
        font-size: 1.25rem;
        background-color: $bg-color;
        color: $fg-color;
        border: none;
        padding: 0;

        &:hover {
            cursor: pointer;
        }
    }
}
